.button {
    padding: 1rem;
    border: .1rem #c0c0c0 solid;
    background-color: #f0f0f0;
    cursor: pointer;
  }
  
  .button:hover {
    border: .1rem #808080 solid;
  }
  
  .button.primary {
    background-color: #f0c040;
  }

  .product-price .button {
    text-align: center;
    flex: 1;
  }
  