
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  
  .products li {
    flex: 0 1 29rem;
    height: 47rem;
    padding: 1rem;
  }
  
  .product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .product img {
    max-width: 37rem;
    max-height: 37rem;
  }
  
  .product-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .product-price div {
    text-align: center;
    flex: 1;
  }
  
  .product-price div {
    font-size: 2rem;
  }
  
  